.login {
    width: 100%;
}

.login h3 {
    font-size: 2rem;
    margin-left: 5%;
    margin-top: 10rem;
    margin-bottom: 1em;

}

.login .text {
    font-size: 1.4rem;
    margin-left: 5%;
    margin-bottom: 2.5rem;
}

.login .write input {
    display: block;
    width: 90%;
    height: 3.5rem;
    margin: 0 auto;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    border: 4px solid #ccc;
    outline: none;

}

.login .write .password {
    width: 90%;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.login .write .password input {
    width: 90%;
    border: none;
    outline: none;
}

.login .write .password .eye {
    width: 10%;
    cursor: pointer;
}

/* .login .write .password .eye{
    background: url(/images/eye_03.png) no-repeat;
    background-position: right center;
} */

.login .write input[type="submit"] {
    border-radius: 3rem;
    height: 3rem;

}
.login .write .up{
    margin-top: 3.12rem;
}
.login .write .btnone {
    margin-top: 3.5rem;
}

.login .write .other {
    text-align: center;
    height: 3rem;
    line-height: 3rem;

}

.login .write .people{
    border: none;
    border-bottom:1px solid #ccc ;
}
.login .write .btntwo {
    width: 90%;
    height: 3rem;
    border-radius: 3rem;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border: 4px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login .write .btntwo:hover{
    height: 3.6rem;
    background-color: #7650ff;
    color: #ffffff;
    border: none;
}
.login .write .btntwo img{
    width: 1.52rem;
    height: 1.52rem;
    margin-right: .4rem;
}


.login .write input[type="submit"]:hover {
    background-color: #7650ff;
    box-shadow: 0 2px 5px 0 #7650ff;
    border: none;
    color: #ffffff;

}

.login .write .help a,
.login .write .help {
    color: #87879d;
}

.login .write .forget {
    text-align: center;
    margin-top: 3.5rem;
}

.login .write .help a:hover {
    color: #232323;
}

.login .write .help .registered {
    display: flex;
    justify-content: center;
}